{% extends "diary/base.html" %}

{% block content %}
  <h1>修改密码</h1>
  <p>请输入您的用户名和台协老师姓名来验证身份</p>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
      <label>用户名：</label>
      {{ form.username }}
      {{ form.username.errors }}
    </div>
    <div>
      <label>台协老师姓名：</label>
      {{ form.teacher_name }}
      {{ form.teacher_name.errors }}
    </div>
    <div style="margin-top: 12px;">
      <button type="submit">下一步</button>
    </div>
  </form>
{% endblock %}
